@import "rsuite/dist/rsuite.css";
body {
  background-color: #fbf9f1; /* Light cream color */
    font-family: Arial, sans-serif;
}

.App {
  text-align: center;
}

.App .flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5%;
}

.icon {
  color: #2564cf
}

.icon-wrapper {
  position: relative;
}

.icon-enter {
  opacity: 0;
}
.icon-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
.icon-exit {
  opacity: 1;
}
.icon-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-out;
}

.rs-panel-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


